@let cartProducts = _productsManagerService.cartProducts$ | async;

<div class="cart-sidebar-overlay" [class.show]="isOpen()" (click)="onCloseClick()"></div>

<div class="cart-sidebar-container" [class.show]="isOpen()">
  <div class="cart-sidebar-header">
    <h3>Seu Carrinho</h3>
    <button class="close-button" (click)="onCloseClick()">&times;</button>
  </div>
  <div class="cart-sidebar-content">
    @if (cartProducts?.length === 0) {
      <div class="empty-cart-message">Seu carrinho está vazio.</div>
    }
    <div>
      @for (product of cartProducts; track product.id) {
        <div class="cart-item">
          <img [src]="product.image" class="cart-item-image" />
          <div class="cart-item-details">
            <div class="cart-item-title">
              {{ product.title }}
            </div>
            <div class="cart-item-price">R$ {{ product.price }} x {{ 10 }}</div>
          </div>
          <button class="remove-item-button" (click)="onRemoveProduct($index)">
            <i class="fas fa-trash-alt"></i> Remover
          </button>
        </div>
      }
    </div>
  </div>
  <div class="cart-sidebar-footer">Total: R$ {{ 999 }}</div>
</div>
